@model CSG_ADMINPRO.DOMAIN.Entities.Cliente

@{
    ViewData["Title"] = "Clientes / Ver Información";
}

<div class="container py-4">
    <div class="d-flex justify-content-between">
        <h4><i class="bi bi-star-fill"></i> @ViewData["Title"]?.ToString()</h4>

        <a asp-action="Index" class="btn btn-info"> <i class="fas fa-reload"></i> Regresar</a>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card border-0 shadow-lg">
                <div class="card-body">
                    <dl>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Cedula)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Cedula)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NombreCliente)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NombreCliente)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Telefono)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Edad)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Edad)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
